.team-container {
    display: grid;
    margin: auto;
    place-items: center;
    grid-template-columns:1fr;
    gap:1em;
    /* padding: 5px; */
}

.team-container .card {
    width: 40vw;
    margin: "3rem";
}

.subtitle {
    margin: auto;
    font-weight: 400;
    font-size: calc(0.7em + 1vw);
    width: 60%;
    text-align: justify;
    text-justify: inter-word;

}

@media screen and (max-width: 768px) {
    .subtitle {
        width: 80vw;
    }
    .team-container  .card {
        width: 90vw;
    }
  }