.team-container {
    display: grid;
    margin: auto;
    place-items: center;
    grid-template-columns:1fr;
    gap:1em;
    /* padding: 5px; */
}

.team-container .card {
    width: 40vw;
    /* minWidth: 100, */
    margin: "3rem";
    /* width: 10rem; */
    /* outline: 2px solid red; */
}

.subtitle {
    margin: auto;
    text-indent: 2rem;
    font-weight: 400;
    font-size: 1rem;
    width: 60%;
    padding: 40px
}

@media screen and (max-width: 768px) {
    .subtitle {
        width: 90%;
    }
    .team-container  .card {
        width: 90vw;
    }
  }