.team-container {
    display: grid;
    margin: auto;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    gap:1em;
    padding: 5em;
}

.card {
    width: 15em;
}