.header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: center;
    position:sticky;
    left:0px;
}

.logo{
        width: 60%;
        margin: 0 auto;
}

.header-text {
    font-family: Myriad Pro;
    text-transform: uppercase;
    font-weight: 750;
    margin: auto;
    text-align: center;
    padding: 2%;
    font-size: calc(1em + 4.2vw);
}

.footer {
    position:fixed;
    /* outline: auto; */
    /* width: 100%; */
    bottom: 5px;
    display: grid;
    place-items: center;
    /* padding: 0px 100px 0 100px; */
}

.text-white {
    /* color: white; */
    font-family: monosapce;
}

.inline-portofolio {
    font-size: 1.15rem;
    }
    

    /* TODO: fix inline  elements padding to be dynamically calculated based on a MIX and MAX number of elements*/
.inline-portofolio-icon {
    /* color: white; */
    padding: 0 1vw 0 1vw;
    height: 30px;
}

.grid-item-footer h6 {
    font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
    .logo{
        width: 100%;
        margin: 0 auto;
    }
 
}