.projects-container {
    display: grid;
    margin:  auto;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1em
}

.projects-container  .card {
    /* width: 70vw; */
}

@media screen and (max-width: 768px) {
    .projects-container {
        grid-template-columns:1fr
    }

    .projects-container  .card {
        width: 90vw;
    }
  }