.projects-container {
    display: grid;
    margin:  auto;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1em;
    padding: 50px;
    margin-bottom: 1%;
}

.max-lines {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 13em;
    min-height: 10.6em;
    line-height: 1.8em;
  }

.projects-container  .card {
    /* width: 70vw; */
}

@media screen and (max-width: 768px) {
    .projects-container {
        grid-template-columns:1fr;
        padding: 0px;
        margin-bottom: 10%;
    }

    .projects-container  .card {
        width: 90vw;
    }
  }