.stats-subtitle {
    padding-top: -100;
  text-align: center;
  font-size: 1.3rem;
}

.stats-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-list {
  display: flex;
  column-gap: 24px;
  align-items: center;
  transition: all 0.2s;
}
.stats-item {
  z-index: 100;
  /* color: #fffefe; */
  text-align: center;
  font-family: Myriad Pro;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  svg {
    width: 18vw;
  }
  .stats-list {
    row-gap: 4px;
    padding: 2px 1px;
    column-gap: 2px;
  }
}
